{{ if ne .environment "home" }}[platform]{{ end }}[type] subject

# 问题原因（fix 类建议填写）：
# 修改方案（fix 类建议填写）：


# type:
#   fix: bug modify
#   feat: new feature
#   doc: add doc file
#   perf: performance
#   refactor:
#   tool:

# if bugfree id exist:
# append the id after type with ':', such as:
# [fix:11111]
